/* paragraphs are single-spaced */
#content div.events p {
  margin: 0;
}

/* events have spacing on top and bottom */
#content div.events div.event {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* events have a line at bottom unless they are the last event */
#content div.events div.event:not(:last-of-type) {
  border-bottom: 1px solid #efefef;
}

/* position the title on top of horizontal rule */
#content div.title h2 {
  top: -40px;
  position: relative;
  height: 0px;
  margin-bottom: 0px;
}

/* overlay title background onto horizontal rule */
#content div.title h2 span {
  background-color: white;
  padding-right: 15px;
}

/* shift events a little bit to the right */
#content div.events div.event {
  padding-left: 15px;
}

/* spacing below each day except last */
#content div.day:not(:last-of-type) {
  margin-bottom: 50px;
}

/* formatting of description paragraph */
#content div.events div.event p.description {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.3em;
}

/* events are clickable */
#content div.events div.event {
  cursor: pointer;
}

/* events have hover effect */
#content div.events div.event:hover {
  background-color: #CDDC39;
}

/* disable link styling */
#content div.events a {
  text-decoration: none;
  color: inherit;
}

/* style back button */
.back-button a {
  background-color: #CDDC39;
  text-decoration: none;
  padding: 10px;
  color: inherit;
}

.back-button:first-of-type {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.back-button:last-of-type {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid gray;
}
